<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/stylesheets/awesomplete.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/jquery-ui.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/awesomplete.js"></script>
    <script src="/javascripts/jquery-1.11.3.min.js"></script>
    <script src="/javascripts/jquery-ui.js"></script>
    <script src="/javascripts/custom.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <title>Seres Krisztián</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <div class="container">

    <form class="form-signin" id="checkForm" method="post" action="/">

      <h4 id="result"> <%=passed%></h4>

      <h2 class="form-signin-heading">Registration</h2>


      <label for="name" class="sr-only">Name</label>
      <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="true">

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required="true" autofocus="">

      <label for="dob" class="sr-only">Date of Birth</label>

      <input type="text" placeholder="Date of Birth" id="dob" name="dob" class="form-control" data-date-format="YYYY-MM-DD" >

      <label for="occupation" class="sr-only">Occupation</label>
      <input type="text" name="occupation" id="occupation" class="form-control awesomplete" placeholder="Occupation"
             data-list="Dentist, Software Developer, Computer Systems Analyst, Information Security Analyst,Programmer, Teacher, Therapist, nurse, Doctor, Psychologist,Manager ,Accountant, Trainee, Intern"
             >


      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>

  </div>
  </body>
</html>
